ul {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: auto;
}

li {
  list-style: none;
}

.cover-logo {
  height: 1078px;
  background: url('../imgs/cover-logo-1x.png');
}

.flex {
  display: flex;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
